{:deps
 {org.clojure/clojure {:mvn/version "1.12.3"}
  org.clojure/core.async {:mvn/version "1.8.741"}
  cheshire/cheshire {:mvn/version "6.1.0"} ;; json parsing
  ring/ring {:mvn/version "1.15.3"}
  ring/ring-defaults {:mvn/version "0.7.0"}
  ring/ring-json {:mvn/version "0.5.1"}
  com.datomic/peer {:mvn/version "1.0.7469"}
  metosin/reitit {:mvn/version "0.9.1"} ;; routing
  http-kit/http-kit {:mvn/version "2.9.0-beta2"}
  mount/mount {:mvn/version "0.1.23"}
  metosin/malli {:mvn/version "0.19.2"} ;; data schema specification/validation
  dev.weavejester/medley {:mvn/version "1.9.0"} ;; Utility code
  fmnoise/flow {:mvn/version "4.3.0"} ;; Flow control for complicated conditionals
  com.thheller/shadow-css {:mvn/version "0.6.2"} ;; CSS generation
  ;; fast hiccup:
  dev.onionpancakes/chassis    {:mvn/version "1.0.365"}
  ;; fast json:
  com.cnuernber/charred        {:mvn/version "1.037"}
  dev.data-star.clojure/sdk {:mvn/version "1.0.0-RC3"}
  dev.data-star.clojure/http-kit {:mvn/version "1.0.0-RC3"}
  dev.data-star.clojure/brotli {:mvn/version "1.0.0-RC3"}
  ;; Brotli compression
  com.aayushatharva.brotli4j/brotli4j            {:mvn/version "1.20.0"}
  ;; Assumes you deploy uberjar on linux x86_64
  com.aayushatharva.brotli4j/native-linux-x86_64 {:mvn/version "1.20.0"}
  no.cjohansen/clj-nats {:git/url "https://github.com/cjohansen/clj-nats"
                         :git/sha "b483daef91a723d5842b4656ea1d87242237d93e"}
  org.clj-commons/digest {:mvn/version "1.4.100"}
  com.fasterxml.uuid/java-uuid-generator {:mvn/version "5.1.0"}}
 :paths ["src" "resources"]
 :aliases
 {:dev {:extra-deps {djblue/portal {:mvn/version "0.61.0"}
                     com.aayushatharva.brotli4j/native-osx-x86_64    {:mvn/version "1.20.0"}
                     com.aayushatharva.brotli4j/native-osx-aarch64   {:mvn/version "1.20.0"}
                     com.aayushatharva.brotli4j/native-linux-aarch64 {:mvn/version "1.20.0"}
                     io.github.tonsky/clj-reload {:mvn/version "1.0.0"}}
        :jvm-opts ["-Dclojure.core.async.go-checking=true"]}
  :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.58.0"}
                       nrepl/nrepl {:mvn/version "1.5.1"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  :build {:deps {org.clojure/clojure {:mvn/version "1.12.3"}
                 io.github.clojure/tools.build {:git/sha "20de3036218268802311f96fa6cfa9123c2963f1"}
                 com.thheller/shadow-css {:mvn/version "0.6.2"}
                 com.nextjournal/beholder {:mvn/version "1.0.3"}}
          :ns-default build}}}
